.masthead-wrapper {
  background: rgb(22, 25, 21) url("../../img/background.png") no-repeat center;
  background-size: cover;
  height: 540px;
  min-width: 320px;
}
.masthead__header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 40px;
}
.masthead__logo {
  margin: 0;
  font-size: 20px;
}
.masthead__link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 20px;
}
.masthead__nav {
  margin-bottom: 114px;
}
.masthead__action-table {
  margin: 0;
  padding: 0;
}
.masthead__table-item {
  list-style: none;
  display: inline-block;
}
.masthead__table-item:last-child {
  margin-right: 0;
}
.masthead__hero {
  margin: 0 auto;
}
.hero__header {
  margin-bottom: 20px;
}
.block-partner__slogan {
  text-transform: uppercase;
  text-align: center;
  font-family: var(--main-font);
  margin: 0 auto;
  font-size: 30px;
  width: 80%;
}
.block-partner__text {
  margin: 0 auto;
  width: 218px;
  text-align: center;
  font-family: var(--main-font2);
  font-size: 18px;
  margin-bottom: 20px;
  width: 80%;
}

.button--red {
  min-width: 280px;
}

@media screen and (min-width: 768px) {
  .masthead-wrapper {
    height: 700px;
  }
  .section-1 {
    padding-top: 40px;
  }
  .masthead__nav {
    margin-bottom: 0px;
  }
  .block-partner__slogan {
    font-size: 52px;
  }
  .hero__header {
    margin-bottom: 35px;
  }
  .block-partner__text {
    width: 404px;
    font-size: 24px;
    margin-bottom: 35px;
  }
  .masthead__header {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 152px;
  }
  .button--red {
    min-width: 226px;
  }
}
@media screen and (min-width: 992px) {
  .masthead-wrapper {
    height: 700px;
  }
  .masthead__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .hero__header {
    margin-bottom: 35px;
  }
  .block-partner__text {
    width: 404px;
    font-size: 24px;
    margin-bottom: 35px;
  }
  .block-partner__slogan {
    font-size: 52px;
  }
  .button--red {
    min-width: 226px;
  }
}
