@font-face{
    font-family: 'WisdomRegular';
    src: url('../fonts/calligraffitti-v10-latin-regular.woff2') format('woff2'),
         url('../fonts/calligraffitti-v10-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'MontserratRegular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'MontserratBold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'DroidSerifItalic';
    src: url('../fonts/alegreya-v12-latin-regular.woff2') format('woff2'),
         url('../fonts/alegreya-v12-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'RobotoSlabRegular';
    src: url('../fonts/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotoslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}