@import "./vars.css";
@import "./fonts.css";

body {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}
.h1-link {
  margin: 0;
}
.h1-link--firstletter::first-letter {
  text-transform: uppercase;
}
.h1-link__item {
  display: block;
  text-decoration: none;
  font-family: var(--main-font2), sans-serif;
  font-size: 26px;
  color: var(--main-color1);
}

.nav {
  margin: 0;
  padding: 0;
  min-width: 480px;
  display: flex;
  justify-content: space-between;
}
.nav__item {
  list-style: none;
}
.nav__link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--main-font1), sans-serif;
  font-size: 14px;
  color: var(--main-color2);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--main-color1);
}
.section {
  padding-top: 128px;
  padding-bottom: 80px;
}
.section-header {
  text-align: center;
  margin-bottom: 76px;
}
.section-header__first-line {
  margin: 0;
  display: block;
  text-transform: uppercase;
  font-family: var(--main-font3), sans-serif;
  font-size: 40px;
  color: var(--main-color2);
  margin-bottom: 24px;
}
.section-header__second-line {
  display: block;
  font-family: var(--main-font4), sans-serif;
  font-size: 16px;
  color: var(--main-color3);
}
.section-header__second-line--firstletter::first-letter {
  text-transform: uppercase;
}
.section-header__first-line--2-color {
  color: white;
}
.services-table {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.services-table__card {
  flex-basis: 300px;
  list-style: none;
}
/* .services-table__content {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  
} */
.services-table__el-1 {
  margin: 0;
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: var(--main-font3), sans-serif;
  color: var(--main-color2);
  text-align: center;
}
.services-table__el-2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--main-font6);
  font-size: 14px;
  color: var(--main-color3);
  text-align: center;
  line-height: 1.2;
}

.services-table__element--sprite::before {
  margin: 0 auto;
  content: "";
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 74px;
  height: 73px;
  margin-bottom: 24px;
}
.services-table__element--basket::before {
  background-position: -1px -1px;
}

.services-table__element--comp::before {
  background-position: -77px -1px;
}

.services-table__element--locked::before {
  background-position: -153px -1px;
}
.main__form {
  min-height: 676px;
  background-color: #222222;
  background-image: url(../img/Map_Image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 100px;
  padding-top: 100px;
}
.contact-form__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.contact-form__left-column {
  margin: 0;
  padding: 0;
}
.contact-form__left-column-element {
  list-style: none;
  margin-bottom: 30px;
}
.contact-form__left-column-element:last-child {
  margin-bottom: 0px;
}

.main-form__input-type1 {
  box-sizing: border-box;
  min-height: 50px;
  width: 455px;
  color: var(--main-color3);
  border: 2px solid #cccccc;
  border-radius: 5px;
  font-family: var(--main-font3), sans-serif;
  padding: 0 20px 0 20px;
  text-transform: uppercase;
}
.main-form__input-type1--big {
  padding-top: 20px;
  /* overflow: hidden; */
  resize: none;
}
.main-form__button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 240px;
  min-height: 65px;
  background-color: var(--main-color1);
  border: 0px;
  border-radius: 5px;
  font-family: var(--main-font3), sans-serif;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s linear, color 0.2s linear;
}
.main-form__input-type--valid:valid:focus {
  border-color: green;
}
.main-form__input-type--valid:invalid:focus {
  border-color: red;
}
.main-form__input-type1:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.main-form__button:hover,
.main-form__button:focus {
  background-color: white;
  color: var(--main-color1);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
