/* :root{
   
} */
html{
--main-color1:#fed136;
--main-color2:#222222;
--main-color3:#777777;
--main-font1: 'MontserratRegulal';
--main-font2:'WisdomRegular';
--main-font3:'MontserratBold';
--main-font4:'DroidSerifItalic';
--main-font5:'RobotoSlabRegular';
}